*{
    margin: 0;
    font-family: sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.login-left > h1{
    color: #fa0505;
    font-size: 40pt;
    /*#EFA010*/
}

.image-login{
    width: 60vh;
}

